
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";

/**
 * Icons
 */

 .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$medium-gray-color};
    vertical-align: text-top;
}

span.username {
    display: none;
}

.logo {
    margin: 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}