* {
	margin: 0;
	padding: 0;
}
html, 
body {
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #4c4c4c;
	background: url("./images/body.png");
	height: 100%;
	margin: 0 auto 0 auto;
}
a {
	color: #4c4c4c;
}
#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position:relative;
	background: url("./images/page.png") repeat-y center top;
}
#header {
	position: absolute;
	top:0;
	height: 50px;
	width: 100%;
	background: url("./images/header.png") repeat-y center top;
}

#main {
	margin: 0 auto;
	padding: 50px 0 50px 0;
	width: 710px;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: url("./images/footer.png") repeat-y center top;
}
.masthead {
	position: relative;
	width: 710px;
	height: 120px;
	overflow: hidden;
}
.masthead a {
	display: block;
	width: 710px;
	height: 100px;
	cursor: pointer;
	text-align: center;
}
.masthead span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 710px;
	height: 100px;
	background: url("./images/h1.png") no-repeat center top;
}
.first-nav {
	clear:left;
	float:left;
	width:100%;
	font-family:Trebuchet MS, Helvetica, sans-serif;
	overflow:hidden;
}
.first-nav ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
}
.first-nav ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	background:#B7B7B7 url(./images/roundbar-grey.gif) 0 25% repeat;
}
.first-nav ul li a {
	display:block;
	margin:0;
	padding:.4em .8em;
	color:#4c4c4c;
	text-decoration:none;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #A8A8A8;
	line-height:1.3em;
}
.first-nav ul li a span {
	display:block;
}
.first-nav ul li.active a {
	background:url(./images/roundbar-grey.gif) 0 75% repeat;
	font-weight:bold;
}
.first-nav ul li a:hover {
	background:url(./images/roundbar-grey.gif) 0 75% repeat;
}

.second-nav {
	clear:left;
	float:left;
	width:710px;
	font-family:Trebuchet MS, Helvetica, sans-serif;
	background-color: #4c4c4c;
	overflow:hidden;
}
.second-nav ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	border-top: 5px #4c4c4c solid;
	border-bottom: 5px #4c4c4c solid;
}
.second-nav ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	font-size: .85em
}
.second-nav ul li a {
	display:block;
	margin:0;
	padding:0 1em;
	color:#f0f0f0;
	text-decoration:none;
	border-right:1px solid #f0f0f0;
	line-height:1em;
}
.second-nav ul li.active a {
	font-weight:bold;
}
.second-nav ul li a:hover {
	text-decoration: underline;
}
#main-content {
	border: 1px #4c4c4c solid;
	clear: left;
	padding: 10px 10px 0 10px;
}
#main-content p {
	padding-bottom: 10px;
}
#footnote {
	margin-top: 15px;
	text-align: center;
	font-size: .85em;
	padding-top: 10px;
}