html,body, #page {
	font-family: helvetica,sans-serif;
	margin:0;
	padding:0;
	background: -webkit-gradient(linear,left top,right top,from(#c5ccd4), color-stop(71%, #c5ccd4), color-stop(72%, #cbd2d8), to(#cbd2d8));
	-webkit-background-size:0.438em 100%; 
}

#nav {
	float:left;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-right: 1px solid black;
	
}

#sections {
	float: right;
	width: 80%;
	height: 100%;
	margin: 0;
	padding: 0;
}


h2 {
	line-height: 44px;
	height: 44px;
	font-size: 16pt;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd5df), color-stop(3%, #b0bccd), color-stop(50%, #889bb3), color-stop(51%, #8195af), color-stop(97%, #6d84a2), to(#2d3642));
	margin: 0 0 10px 0;
	padding:0;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;

}

h3 {
	font-weight: bold;
	font-size: 17px;
	right: 20px;
	left: 9px;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
	margin: 0 0 10px 0;
	padding: 0 10px;
}

ul {
	-webkit-border-radius: 8px;
	background-color: #fff;
	border: #878787 solid 1px;
	font-size: 12pt;
	overflow: hidden;
	padding: 0;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	list-style: none;
	margin: 0 10px 10px 10px;

}

li {
	position: relative;
	list-style-type: none;
	display: block;
	overflow: hidden;
	border-top: 1px solid #878787;
	width: auto;
	min-height: 43px;

	font-size: 17px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	line-height: 44px;
	padding-left: 10px;
	overflow: hidden;

}

li:first-child {
	border-top: 0;
}

.section {
	padding-bottom: 10px;
}

span.y-n-na {
	margin-right: 5px;
}
.y-n-na input[type="radio"] {
	-webkit-appearance: none;
	border: 0;
	width: 27px;
	height: 27px;
	margin: 0 0 -7px 0;
	background: url('ynna.png');
}

.y-n-na input[type="radio"]:first-child {
	border-right: 1px solid #6d7e91;
	border-left: 1px solid #6d7e91;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	/*margin-left: 5px;*/
}

.y-n-na input[type="radio"]:last-child {
	border-right: 1px solid #6d7e91;
	border-left: 1px solid #6d7e91;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	/*margin-right: 5px;*/
}

.y-n-na input[value="y"] {
}

.y-n-na input[value="n"] {
	background-position-x: -27px;
}

.y-n-na input[value="na"] {
	background-position-x: -54px;
}

.y-n-na input[value="y"]:checked {
	background-position-y: 27px;
}

.y-n-na input[value="n"]:checked {
	background-position-x: -27px;
	background-position-y: 27px;
}

.y-n-na input[value="na"]:checked {
	background-position-x: -54px;
	background-position-y: 27px;
}
